<%= provide(:title, @title) %>
<div class="row">

  <aside class="span4">
    <section>
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Rides:</b> <%= @user.rides.count %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <div class="span8">
    <h3><%= @title %></h3>
    <% if @rides.any? %>
      <ul class="rides">
        <%= render partial: 'shared/feed_item', collection: @rides %>
      </ul>
      <%= will_paginate @rides %>
    <% end %>
  </div>

</div>