<div class="row">
  
  <aside class="span4">
    <section>
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
     
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <div class="span8">
    <h3><%= @title %></h3>


<table class="table table-striped">
        <thead>
          <tr>
            <th>User Name</th>
            <th>User Email</th>
            <% if current_user.admin? %>
              <th>Get rid of him ?</th>
            <% end %>
          </tr>
        </thead>
        
        <tbody>
          <% if @users.any? %>
              <%= render @users %>
          <% end %>        
        </tbody>
        <%= will_paginate @users %>
</table>




    
      
  </div>
</div>