<% provide :title, @user.name %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
	
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  
  
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
	
    
      <h3> <%= @user.name%> will be driving the following : (<%= @user.microposts.count %>)</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Seats</th>

            <th>Participation</th>
          </tr>
        </thead>
        
        <tbody>
           <% if @user.microposts.any? %>
              <%= render partial: 'shared/feed_item', collection: @microposts %>
              <%= will_paginate @microposts %>
          <% end %>        
        </tbody>
        
      </table>
      <%= will_paginate @microposts %>
       
 </div>
  
</div> 

	 