<li id="<%= feed_item.id %>">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="content"><%= feed_item.content %></span>
  <span class="content">RIDES ON : <%= feed_item.date %></span>
  <span class="content">Leaving from : <%= feed_item.start_town %> - <%= feed_item.start_location %></span>
  <span class="content">Dropping at : <%= feed_item.drop_town %> - <%= feed_item.drop_location %></span>
  <span class="content">Can take : <%= feed_item.nb_passengers %> passengers</span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
</li>