
<div class="row">
<div class="span6">
<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_town %><br />
    <%= f.text_field :start_town %>
  </div>
  <div class="field">
    <%= f.label :drop_town %><br />
    <%= f.text_field :drop_town %>
  </div>
  <div class="actions">
    <%= f.submit "Search", class: "btn btn-large btn-primary" %>
  </div>
<% end %>

</div>
</div>
