<div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
	  <section>
        <%= render 'shared/stats' %>
      </section>
	  <section>
        <%= link_to "Search for a ride", new_search_path %> <br/>
		 <%= link_to "Post a ride", new_micropost_path %>
      </section>
      </section>
	</aside>



<div class="span6">
      <h3>Post a new ride</h3>
      <%= render 'shared/micropost_form' %>
 </div>
</div>